src/main/mule/global/travelandtipsexternalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="travelandtipsexternalsystemFlow" doc:id="076e1f30-8dea-4bc4-b122-f2c43012b3ab" >
		<http:listener doc:name="Listener" doc:id="89317a91-ffce-46d1-8a98-c9b5f6b1f351" config-ref="HTTP_Listener_config" path="${http.listner.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="1956dcc8-e724-45f5-bb36-08618f3d0ae9" message="requestSentRoutesTravelOnTipsExternalFile"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="42d38216-d99d-4bb7-9bb3-55db9f831848" />
		<logger level="INFO" doc:name="Logger" doc:id="bffbce77-208e-49f1-a67c-3bf223c62a67" message="responseSentforTravelOnTipsExternalsystem"/>
	</flow>
</mule>
